body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body *{
  box-sizing: border-box;
}

.inputs-block {
  border: 2px solid gray;
  width: 60%;
  margin: 20px auto;
  padding: 22px;
}

.inputs-block *{
  margin: 10px;
  height: 30px;
}